*~
._*
.DS_Store
.idea
.vscode
node_modules
bower_components
npm-debug.log
__pycache__
.pytest_cache

# Computer/Company specific aliases.
.aliases.*
!.aliases.default

# Computer/Company specific exports
.exports.*
!.exports.default

fish/**
!fish/config.fish
!fish/fish_plugins

.ipynb_checkpoints